
@{
    ViewData["Title"] = "About Azure Functions Visualizer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>

<p>
    This site is written in ASP.NET Core and runs on <a href="https://azuremarketplace.microsoft.com/en-us/marketplace/apps/Microsoft.AppSvcLinux?tab=Overview">Azure Web Apps on Linux</a>.
</p>

<p>
    Visualizations are rendered using <a href="http://www.graphviz.org/">GraphViz</a>. Download the ".dot" file for more output options.
</p>

<p>
    Source is available on GitHub at <a href="https://github.com/lindydonna/functions-dot-visualizer">functions-dot-visualizer</a>.
</p>

<p>
    For questions or comments, tweet to <a href="https://twitter.com/lindydonna">@@lindydonna</a>.
</p>