@{
    ViewData["Title"] = "Azure Functions Binding Visualizer";
}

<h2>Upload a zipfile or use a GitHub repo</h2>
<br />
<div class="container-fluid">

    <div class="row">
        <form method="post" enctype="multipart/form-data" asp-controller="UploadFiles" asp-action="Index" onsubmit="return validateFilename(this)">
            <div class="form-group">
                <label for="formFile">Upload zipfile</label>
                <input type="file" name="formFile" />
            </div>
            <div class="form-group">
                <div>
                    <button class="btn btn-primary" type="submit">Upload</button>
                </div>
            </div>
        </form>
    </div>

    <hr />

    <div class="row">
        <form method="post" enctype="multipart/form-data" asp-controller="GitHubContent" asp-action="Index" onsubmit="return validateUrl(this)">
            <div class="form-group @ViewData["RepoUrlError"]">
                <label class="control-label" for="repoUrl">GitHub repo URL @ViewData["RepoUrlErrorLabel"]</label>
                <div>
                    <input class="form-control" type="text" name="repoUrl" />
                </div>
            </div>
            <div class="form-group">
                <div>
                    <button class="btn btn-primary" type="submit">Render bindings</button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="has-error">
            <label class="control-label">@ViewData["Errors"]</label>
        </div>
    </div>
</div>

<script>
    function validateFilename(theForm) {
        if (theForm.formFile.files.length == 0 ||
            !theForm.formFile.files[0].name.endsWith(".zip")) {
            alert("A .zip file is required");
            return false;
        }
        return true;
    }

    function validateUrl(theForm) {
        if (theForm.repoUrl.value === '') {
            alert("Invalid repo URL");
            return false;
        }
        return true;
    }
</script>
