
@{
    ViewData["Title"] = "Rendered bindings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rendered bindings</h2>

@Html.Raw(ViewData["ImageContent"])

<a asp-area="" asp-controller="Home" asp-action="DownloadDotFile">Download DOT file</a>