
@{
    ViewData["Title"] = "Rendered bindings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rendered bindings</h2>

@Html.ActionLink("Download DOT File", "DownloadDotFile", new { file = ViewData["DotFile"] })

<br /><br />

<a href="@Url.Action("DownloadSvg", new { file = ViewData["SvgFile"] })">@Html.Raw(ViewData["ImageContent"])</a>
